/*** VERTICAL CHART ***/
/* AXIS */
.vertical .domain {
    display: none;  /* hide axis clipping path */
}

/* X AXIS */
.vertical .axis-x .tick line {
    stroke:rgba(100,100,100,1); /* light grey */
	stroke-dasharray: 1px 2px; /* dotted effect */
}

/* Y AXIS */
.vertical .axis-y .tick line {
    stroke:rgba(100,100,100,1); /* light grey */
	stroke-dasharray: 1px 2px; /* dotted effect */
}

.vertical .axis-y .tick:first-of-type {
    opacity: 0;
}

/*** HORIZONTAL CHART ***/
/* AXIS */
.horizontal .domain {
    display: none; /* hide axis clipping path */
}

/* Y AXIS */
.horizontal .axis-y .tick line {
    stroke:rgba(100,100,100,1); /* light grey */
	stroke-dasharray: 1px 2px; /* dotted effect */
}

/* X AXIS */
.horizontal .axis-x .tick line {
    stroke:rgba(100,100,100,1); /* light grey */
	stroke-dasharray: 1px 2px; /* dotted effect */
}

.horizontal .axis-x .tick:first-of-type {
    opacity: 0;
}
